body { /*defines the apperance of the body*/
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: brown;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px;
}

#study-list {
    list-style-type: none;
    padding: 0;
}
