body { /*defines the apperance of the body*/
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: brown;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px;
}

#study-list {
    list-style-type: none;
    padding: 0;
}

ul.NavBar 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.NavBar li 
{
    float: left;
}

ul.NavBar li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    /* Change the link color to #111 (black) on hover */
ul.NavBar li a:hover 
{
    background-color: #111;
}